body {
  background-color: #f1f1f1;
  padding: 40px;
  font-family: Arial;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

* {
  box-sizing: border-box;
}

.logo {
  margin: -30px -16px 10px -16px
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #707070;
  overflow: hidden;
  margin: 8px -16px 8px -16px;
  /*padding: 10px;*/
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #6045f7;
  color: white;
}

.row {
  margin: 8px -16px 16px -16px;
  background-color: white;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
  width: 50%;
  padding: 10px;
}
