.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: #f1f1f1;
  padding: 40px;
  font-family: Arial;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.logo {
  margin: 8px -16px 8px -16px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #707070;
  overflow: hidden;
  margin: 8px -16px 8px -16px;
  /*padding: 10px;*/
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #6045f7;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 8px -16px 8px -16px;
  background-color: white;
  padding: 10px;
}

.left {
  float: left;
  width: 50%;
  padding: 10px;
}

.right {
  float: right;
  width: 45%;
  padding: 10px;
  height: auto;
}
